$base-color: #f5f7f0;
$content-color: #f5f7f0dd;
$font-color: #666;

body {
  background-color: $base-color;
  color: $font-color;
  font-family: 'Noto Serif KR', serif;
}

.js-fade-in{
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
}

.js-fade-in.is-active{
  opacity: 1;
}

.js-title{
  overflow-y: hidden;
  > span{
    display: block;
    line-height: 1.5em;
    transition: 1s;
    opacity: 0;
    transform: translateY(30px);
  }
}

.js-fv-title{
  overflow-y: hidden;
  > span {
    display: block;
    line-height: 1.5em;
    transition: 1s;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 2s;
    @media screen and (min-width:1025px){
    transform: translateY(80px);
    }
  }
}

.js-title.is-active,.js-fv-title.is-active{
  span{
    opacity: 1;
    transform: translateY(0);
  }
}

.main__title.is-active::after{
  width: 300px;
  @media screen and (min-width:1025px){
    width: 450px;
  }
}

.products__example-title.is-active::after{
  width: 170px;
}

// @media screen and (min-width: #{nth($breakPointList, 1)}) {
// }

// @media screen and (min-width: #{nth($breakPointList, 2)}) {
// }
