/* back-to-topのスタイル */

.back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  @include border-box;
  z-index: 99;
  &::after,&::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    height: 30px;
    width: 1px;
    background: $font-color;
    transform-origin: left top;
  }
  &::after{
    transform: translateX(-50%) rotate(-30deg);
  }
  &::before{
    transform: translateX(-50%) rotate(30deg);
  }
}
